SIANWEB/Web References/RemElectronica/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Imprime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Remision" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImprimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImprimeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Imprime_Entrada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Entrada" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Imprime_EntradaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Imprime_EntradaResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImprimeSoapIn">
    <wsdl:part name="parameters" element="tns:Imprime" />
  </wsdl:message>
  <wsdl:message name="ImprimeSoapOut">
    <wsdl:part name="parameters" element="tns:ImprimeResponse" />
  </wsdl:message>
  <wsdl:message name="Imprime_EntradaSoapIn">
    <wsdl:part name="parameters" element="tns:Imprime_Entrada" />
  </wsdl:message>
  <wsdl:message name="Imprime_EntradaSoapOut">
    <wsdl:part name="parameters" element="tns:Imprime_EntradaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Imprime">
      <wsdl:input message="tns:ImprimeSoapIn" />
      <wsdl:output message="tns:ImprimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Imprime_Entrada">
      <wsdl:input message="tns:Imprime_EntradaSoapIn" />
      <wsdl:output message="tns:Imprime_EntradaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Imprime">
      <soap:operation soapAction="http://tempuri.org/Imprime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Imprime_Entrada">
      <soap:operation soapAction="http://tempuri.org/Imprime_Entrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Imprime">
      <soap12:operation soapAction="http://tempuri.org/Imprime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Imprime_Entrada">
      <soap12:operation soapAction="http://tempuri.org/Imprime_Entrada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://189.206.150.18/ImprimeRemision/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://189.206.150.18/ImprimeRemision/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>