SIANWEB/Web References/WS_PagosExternos/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuardarPagoExterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pago_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list_fichas_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list_pagos_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emp_CnxCob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emp_Cnx" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cd_tipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarPagoExternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarPagoExternoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarPagoExterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pago_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emp_CnxCob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emp_Cnx" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id_CdExt" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cd_tipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarPagoExternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarPagoExternoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPagoExterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pago_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list_fichas_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list_pagos_str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emp_CnxCob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emp_Cnx" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cd_tipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPagoExternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificarPagoExternoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarPagoExternoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarPagoExterno" />
  </wsdl:message>
  <wsdl:message name="GuardarPagoExternoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarPagoExternoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarPagoExternoSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarPagoExterno" />
  </wsdl:message>
  <wsdl:message name="CancelarPagoExternoSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarPagoExternoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarPagoExternoSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPagoExterno" />
  </wsdl:message>
  <wsdl:message name="ModificarPagoExternoSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPagoExternoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GuardarPagoExterno">
      <wsdl:input message="tns:GuardarPagoExternoSoapIn" />
      <wsdl:output message="tns:GuardarPagoExternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarPagoExterno">
      <wsdl:input message="tns:CancelarPagoExternoSoapIn" />
      <wsdl:output message="tns:CancelarPagoExternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPagoExterno">
      <wsdl:input message="tns:ModificarPagoExternoSoapIn" />
      <wsdl:output message="tns:ModificarPagoExternoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarPagoExterno">
      <soap:operation soapAction="http://tempuri.org/GuardarPagoExterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarPagoExterno">
      <soap:operation soapAction="http://tempuri.org/CancelarPagoExterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPagoExterno">
      <soap:operation soapAction="http://tempuri.org/ModificarPagoExterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarPagoExterno">
      <soap12:operation soapAction="http://tempuri.org/GuardarPagoExterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarPagoExterno">
      <soap12:operation soapAction="http://tempuri.org/CancelarPagoExterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPagoExterno">
      <soap12:operation soapAction="http://tempuri.org/ModificarPagoExterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:6846/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:6846/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>