SIANWEB/Web References/EnviaCuentaNacional/EnviaCuentaNacional.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CtaNacional">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RFC_CDIK" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NoCdik" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IDCtaNac" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CtaNacionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CtaNacionalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CtaNacionalSoapIn">
    <wsdl:part name="parameters" element="tns:CtaNacional" />
  </wsdl:message>
  <wsdl:message name="CtaNacionalSoapOut">
    <wsdl:part name="parameters" element="tns:CtaNacionalResponse" />
  </wsdl:message>
  <wsdl:portType name="EnviaCuentaNacionalSoap">
    <wsdl:operation name="CtaNacional">
      <wsdl:input message="tns:CtaNacionalSoapIn" />
      <wsdl:output message="tns:CtaNacionalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnviaCuentaNacionalSoap" type="tns:EnviaCuentaNacionalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CtaNacional">
      <soap:operation soapAction="http://tempuri.org/CtaNacional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnviaCuentaNacionalSoap12" type="tns:EnviaCuentaNacionalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CtaNacional">
      <soap12:operation soapAction="http://tempuri.org/CtaNacional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnviaCuentaNacional">
    <wsdl:port name="EnviaCuentaNacionalSoap" binding="tns:EnviaCuentaNacionalSoap">
      <soap:address location="http://189.206.150.18/wsCuentaNacional/EnviaCuentaNacional.asmx" />
    </wsdl:port>
    <wsdl:port name="EnviaCuentaNacionalSoap12" binding="tns:EnviaCuentaNacionalSoap12">
      <soap12:address location="http://189.206.150.18/wsCuentaNacional/EnviaCuentaNacional.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>